<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HPS Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>

<body>

    <!-- Navbar -->
    <header id="header">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <h1 class="logo me-auto me-lg-0"><a href="index.html">HPS</a></h1>
            <nav id="navbar">
                <a  href="/">Home</a>
                <a  class="active" href="/dashboard">Dashboard</a>
                <a href="/chatbot">Chatbot</a>
                <a href="/about">About</a>
                <a  href="/feedback">Feedback</a>
            </nav>
            <div class="header-social-links">
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Section -->
            <div class="col-lg-3 sidebar">
                <a href="/">Dashboard</a>
                <a href="#">Patients</a>
                <button class="dropdown-btn">Charts
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="/charts">Heart Charts</a>
                    <a href="#">Stroke Charts</a>
                    <a href="#">Kidney Charts</a>
                  </div>
                <a href="/tables">Tables</a>
            </div>

    <!-- Content -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Data Table</h5>
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        {% for column in data.columns %}
                                        <th>{{ column }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for index, row in data.iterrows() %}
                                    <tr>
                                        {% for value in row %}
                                        <td>{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>

</body>

</html>
